body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.reload-icon,
.edit-icon,
#enter-Button,
.remove-icon {
  width: 15px;
  cursor: pointer;
}

#add-task {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#add-task-text {
  border: none;
  width: 90%;
}

#add-task-text:focus {
  outline: none;
}

.todo-item-content {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.todo-item-content span {
  width: 100%;
}

.todo-description {
  width: 100%;
  border: none;
  resize: none;
}

.completed {
  text-decoration: line-through;
}

.icon-hidden {
  display: none;
}

.todo-description:focus {
  outline: none;
  white-space: nowrap;
  overflow-x: hidden;
}

#todo-day-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 0.5rem 0;
  line-height: 1rem;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.editing {
  background-color: #fffeca;
  transition: 1s ease-in-out;
}

input[type='checkbox'] {
  cursor: pointer;
}

#clear-completed {
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
}

#clear-completed:hover {
  color: #f00;
  text-decoration: underline;
}

#todo-list-container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  gap: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

#todo-list-content {
  width: 100%;
  padding: 0;
}
